<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MixMeet</title>
    <link rel="icon" href="./images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="./css/index.css">
</head>

<body>
    <header>
        <img src="./images/logo.png" alt="mixmeet logo" class="logo">
        <nav>
            <a href="/sign-up">Sign Up</a>
            <a href="/sign-in">Sign In</a>
        </nav>
    </header>
    <main class="home-main">
        <h1>Welcome to MixMeet</h1>
        <p>Come meet and mix tech.</p>
        <p>Mixmeet is a social platform for techies from all tech domains. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Esse commodi aspernatur saepe architecto earum nemo consequuntur facere unde! Illo,
            consectetur architecto nobis eos itaque repellat iusto asperiores aut? Maxime, error.</p>
    </main>
    <footer>
        &copy; Mixmeet @ <%=new Date().getFullYear()%>
    </footer>
</body>

</html>