<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign in - Mixmeet</title>
    <link rel="stylesheet" href="./css/index.css" />
    <link rel="shortcut icon" href="./images/favicon.png" type="image/x-icon" />
  </head>

  <body>
    <header>
      <img src="./images/logo.png" alt="mixmeet logo" class="logo" />
      <nav>
        <a href="/">Home</a>
        <a href="/sign-up">Sign Up</a>
      </nav>
    </header>
    <main>
      <h1>Sign In</h1>
      <form action="/sign-in" method="post">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" />

        <label for="password">Password</label>
        <input type="password" name="password" id="password" />

        <input type="submit" value="Sign In" />
        <%if(locals.error){%>
        <p style="color: orangered"><%=errorMessage%></p>
        <%}%>
      </form>
    </main>
    <footer>&copy; Mixmeet @ <%=new Date().getFullYear()%></footer>
  </body>
</html>
